<%= form_with model: [:users, category] do |f| %>
  <%= render "shared/form_errors", object: category %>

  <div class="form-grid">
    <div class="form-field form-field--full">
      <%= f.label :name, "Nome", class: "form-label" %>
      <%= f.text_field :name,
                       placeholder: "Ex: Alimentação",
                       class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :icon, "Ícone", class: "form-label" %>
      <%= f.text_field :icon,
                       placeholder: "Ex: 🍔",
                       class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :color, "Cor", class: "form-label" %>
      <%= f.text_field :color,
                       placeholder: "Ex: #30d988",
                       class: "form-input" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Salvar categoria",
                 class: "button button--primary" %>

    <%= link_to "Cancelar",
                users_categories_path,
                class: "button button--secondary" %>
  </div>
<% end %>