<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Fluxo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "internal", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="internal-body">
    <div class="internal-page">
      <%= render "shared/internal_header" %>

      <main class="internal-main">
        <%= render "shared/flash_messages" %>

        <div class="internal-content">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>